/* Hero section */
main {
    background-image: url(../img/clean.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: 95vh;
}

/* Footer background color */
.footer-bg {
    background-color: #1d6feb;
}

/* Footer link hover */
.footer-link:hover {
    color: white !important;
    text-decoration: underline !important;
}

/* Nav link hover */
.nav-link:hover {
    color: orangered !important;
}

/* Book Now button hover */
.btn-primary:hover {
    background-color: darkgreen !important;
}